@import url("basic.css");
@import url("haiku.css");

html
{
  background-image: none !important;
}

div.header
{
  background-image: url("pyconjp_logo_s.png");
  height: 130px !important;
  background-repeat: no-repeat;
  background-position: right;
}

div.topnav
{
  float: right;
}
